@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  section {
    @apply pl-[22.5px];
  }

  input, textarea{
    @apply outline-none text-black w-[100%] p-2 rounded-[4px] resize-none;
  }

  .normalGradient{
    @apply bg-gradient-to-r from-[#7A87FB] to-[#FFD49C];
  }

  .flexCenter{
    @apply flex items-center justify-center;
  }

  .ctaBg {
    @apply bg-no-repeat bg-center;
    background-image: url("../../public/svgs/CTA.svg");
    background-position: 100% 50%;
  }
}


/* styles/globals.css */
.gradient-border {
  position: relative;
  z-index: 1;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  /* background: linear-gradient(to right, #7A87FB 50%, #FFD49C 45%, rgba(255, 212, 156, 0.5) 50%, rgba(255, 212, 156, 0.25) 55%, transparent 60%); */
  z-index: -1;
  border-radius: inherit;
}

.gradient-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282828; /* Adjust this to match your background color */
  z-index: -1;
  border-radius: inherit;
}